body {
    background: linear-gradient(#03fccf 0%, #07d3f2 100%);
    text-align: center;
}

#one_image {
    width: 200px;
    border-radius: 70%;
    margin-top: 30px;
}

.line {
    height: 7px;
    width: 100px;
    background-color: black;
    margin: 8px auto;
}

#first_para {
    color: blue;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.links{
    font-size: 20px;
    font-family: fantasy;
    float: left;
    right: 30px;
    margin-left: 20px;
    cursor: pointer;
    list-style: none;
    top: 10px;
    padding: 5px;
    left: 300px;
    display: inline;
}
.links:hover{
    text-decoration: underline;
    font-size: 23px;
}
html{
    scroll-behavior: smooth;
}
p{
    font-size: 20px;
}
#leo_image{
    transition: transform .2s;
    width: 400px;
    margin-right: 70px;
}
#leo_image:hover{
    transform: scale(0.9);
}
#feliks_image{
    transition: transform .2s;
    width: 400px;
}
#feliks_image:hover{
    transform: scale(0.9);
}
.menu {
    font-family: sans-serif;
    top: 0px;
    z-index: 9;
    position: fixed;
    cursor: pointer;
    background: white;
    width: 100%;
    margin-top: 0px;
    padding-left: 500px;
    list-style: none;
    
}
#contact{
    background: firebrick;
}
.contact_1 h3{
    display: inline;
}